/*
Portfolio design idea by Ben Schade
https://dribbble.com/shots/3299965-Designer-Profiles-Part-3
*/

:root {
  --heading-font: "Lora", serif;
  --default-font: "Plus Jakarta Sans", sans-serif;
  --text-color: rgba(51, 51, 51, 0.9);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

p {
  font-family: var(--default-font);
  color: var(--text-color);
  line-height: 2rem;
}

ul {
  padding: 0;
}

li {
  display: inline-block;
  list-style: none;
  letter-spacing: 0.1rem;
  margin-right: 1rem;
}

li a,
.normal-link {
  padding: 0 !important;
  color: var(--text-color);
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold !important;
}

a:hover {
  color: var(--text-color);
}

.container-fluid {
  padding: 0 !important;
}

.container {
  padding: 12vh 0;
}

main,
.hero-img,
.content {
  min-height: 75vh;
}

main {
  border: rgba(51, 51, 51, 0.1) 1px solid;
  border-radius: 12px;

  background: rgb(245, 245, 245);
  box-shadow: 10px 10px 100px 10px rgba(0, 0, 0, 0.75);
}

.hero-img {
  /*
  Photo by Rizky Sabriansyah
  https://unsplash.com/photos/AXjWtpjEq_Q
   */

  background-image: url(/photos/hero_img_v2.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

.content {
  padding: 4rem 4.5rem;
}

.github {
  padding-top: 0.25rem;
}

.github i:hover {
  cursor: pointer;
  opacity: 0.5;
  color: var(--text-color);
}

.main-content {
  width: 60%;
}

.main-content img {
  width: 100%;
}

@media (max-width: 1400px) {
  .main-content {
    width: 50%;
  }
}

@media (max-width: 1200px) {
  .main-content {
    width: 40%;
  }
}

@media (max-width: 991px) {
  li {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  .github {
    padding-top: 1rem;
  }

  .hero-img {
    background-image: url();
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
  }

  .main-content {
    width: 100%;
  }

  .main-content .row {
    margin-top: 1rem !important;
  }

  .main-content .row h2 {
    margin-top: 2rem;
    text-align: center;
  }
}

@media (max-width: 810px) {
  .container {
    padding: 0 !important;
  }

  li {
    display: inline-block;

    margin-right: 1rem;
  }

  .main-content {
    margin-top: 2rem !important;
  }
}
