/*
Portfolio design idea by Ben Schade
https://dribbble.com/shots/3299965-Designer-Profiles-Part-3
*/

:root {
  --heading-font: "Lora", serif;
  --default-font: "Plus Jakarta Sans", sans-serif;
  --text-color: rgba(51, 51, 51, 0.9);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
}

p {
  font-family: var(--default-font);
  color: var(--text-color);
  line-height: 2rem;
}

ul {
  padding: 0;
  margin: 0;
}

nav {
  margin-bottom: 0 !important;
}

li {
  display: inline-block;
  list-style: none;
  letter-spacing: 0.1rem;
  margin-right: 1rem;
}

li a,
.normal-link {
  padding: 0 !important;
  color: var(--text-color);
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold !important;
}

.github {
  padding-top: 0.5rem;
}

.github i:hover {
  cursor: pointer;
  opacity: 0.5;
  color: var(--text-color);
}

a:hover {
  color: var(--text-color);
}

.container {
  padding: 12vh 0;
}

.container-fluid {
  padding: 0 !important;
}

.hero-img {
  /*
  Photo by Rizky Sabriansyah
  https://unsplash.com/photos/AXjWtpjEq_Q
   */

  background-image: url(/photos/hero_img_v2.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.bg-img {
  /*
  Photo by Rizky Sabriansyah
  https://unsplash.com/photos/AXjWtpjEq_Q
   */

  background-image: url(/photos/hero_img_v2.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}

main,
.hero-img,
.content {
  min-height: 650px;
  width: 100%;
  margin: 0 auto;
}

.content {
  padding: 4rem 4.5rem;
}

main {
  border: rgba(51, 51, 51, 0.1) 1px solid;
  border-radius: 12px;

  background: rgb(245, 245, 245);
  box-shadow: 10px 10px 100px 10px rgba(0, 0, 0, 0.75);
}

.brand p {
  margin-bottom: 0;
  font-family: var(--heading-font);
  letter-spacing: 0.3rem;
  list-style: none;
  color: black;
}

.brand h1 {
  font-size: 1.5rem;
  font-weight: normal;
  font-family: var(--default-font);
  color: var(--text-color);
}

.main-content {
  width: 60%;
}

@media (max-width: 1199px) {
  .container {
    padding: 6vh 0 !important;
  }

  .hero-img {
    background-position: right bottom;
  }

  .main-content {
    width: 40%;
  }

  .main-content .row h2 {
    margin-top: 2rem;
  }
}

@media (max-width: 991px) {
  .hero-img {
    background-position: 150% bottom;
  }

  li {
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  .github {
    padding-top: 1rem;
  }

  .main-content .row {
    margin-top: 1rem !important;
  }
}

@media (max-width: 812px) {
  .hero-img {
    background-position: 100% bottom;
  }

  .bg-img {
    background-position: 350px;
  }

  .container {
    padding: 3vh 0 0 !important;
  }

  .content {
    padding: 2rem 2rem;
  }

  .hero-content {
    margin-top: 4rem !important;
  }

  li {
    margin-right: 0.5rem;
  }

  .main-content h1,
  .main-content h2,
  .main-content p {
    text-align: center;
  }

  .main-content {
    margin-top: 2rem !important;
    width: 50%;
  }
}

@media (max-width: 375px) {
  .container {
    padding: 0 !important;
  }

  .hero-img {
    background-position: 100% 100%;
  }

  .bg-img {
    background-image: url();
  }

  .main-content {
    width: 100%;
  }

  .hero-content {
    margin-top: 1rem !important;
  }
}
